html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), 
  url(../fonts/Montserrat-Regular.woff2) format("woff2"),
  url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), 
  url(../fonts/Montserrat-Medium.woff2) format("woff2"),
  url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), 
  url(../fonts/Montserrat-Bold.woff2) format("woff2"),
  url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), 
  url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),
  url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'), 
  url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
  url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333;
}

/* glob */

.flex {
  display: flex;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1800px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 15px;
  padding-bottom: 9px;
  background-color: white;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__flex {
  justify-content: space-between;
}

.header__nav {
  align-items: center;
}

.header__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-right: 85px;
  transition: border .1s, color .3s;
}

.header__item:hover {
  border-bottom: 2px solid #FF9900;
}

.header__item:focus {
  outline: 2px solid #FF9900;
}

.header__item:active {
  border-bottom: 2px solid #FF9900;
  color: #E1670E;
}

.header__search {
  cursor: pointer;
}

.header__search:focus {
  outline: 2px solid #FF9900;
}

.header__search svg path {
  transition: fill .3s, stroke .3s;
}

.header__search svg rect {
  transition: fill .3s, stroke .3s;
}

.header__search:hover svg path {
  stroke: #FF9900;
}

.header__search:hover svg rect {
  fill: #FF9900;
}

.header__search:active svg path {
  stroke: #FF9900;
}

.header__search:active svg rect {
  fill: #FF9900;
}

.hero {
  margin-bottom: 102px;
}

.hero .container {
  padding-top: 101px;
  padding-left: 81px;
  padding-bottom: 25px;
  width: 1770px;
  height: 620px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__descr {
  margin-bottom: 90px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.btn {
  padding: 18.571px 37.1419px;
  margin-bottom: 55px;
  width: 280px;
  height: 78px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  transition: background-color .3s;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #E1670E;
  transform: translateY(1px);
}

.hero__dots-list {
  justify-content: center;
  margin-right: 45px;
}

.hero__dots-item {
  margin-right: 20px;
}

.section__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.about {
  margin-bottom: 101px;
}

.about__title {
  margin-left: 3px;
  margin-bottom: 20px;
}

.about__descr {
  margin-left: 1px;
  margin-bottom: 49px;
  max-width: 1235px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.about__article {
  padding-top: 426px;
  margin-right: 32px;
  margin-left: 1px;
  width: 868px;
  height: 621px;
  max-width: 100%;
  background-image: url(../img/about-left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__article-content {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__article-descr {
  margin-right: 139px;
  width: 454px;
  height: 96px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about__btn {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 18px 36px;
  width: 175px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #FF9900;
  transition: background-color .3s;
}

.about__btn:hover {
  background-color: #FF9900;
}

.about__btn:focus {
  outline: 0;
  background-color: #FF9900;
}

.about__btn:active {
  background-color: #E1670E;
  transform: translateY(1px);
}

.about__content-right {
  max-width: 100%;
}

.about__card {
  width: 870px;
  height: 295px;
  padding: 63px 116px 67px 59px;
  max-width: 100%;
  background: #FFFFFF;
  border: 1px solid #CACACA;
}

.about__card-img-320 {
  display: none;
}

.about__card:not(:last-child) {
  margin-bottom: 31px;
}

.about__card-img {
  margin-right: 50px;
  width: 190px;
  height: 165px;
}

.about__card-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.about__card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.about__article-content-320 {
  display: none;
}

.work {
  max-width: 100%;
  margin-bottom: 101px;
}

.work__title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 49px;
}

.work__list {
  margin-left: 1px;
  margin-bottom: 46px;
}

.work__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: color .3s;
}

.work__item:last-child {
  margin: 0;
}

.work__item:first-child {
  color: #E1670E;
  margin-right: 85px;
}

.work__item:nth-child(2) {
  margin-right: 87px;
}

.work__item:nth-child(3) {
  margin-right: 87px;
}

.work__item:hover {
  color: #FF9900;
}

.work__item:active {
  color: #FF9900;
}

.work__item a:focus {
  transition: outline .1s;
}

.work__item a:focus {
  outline: 2px solid #FF9900;
}

.work__content-left {
  max-width: 100%;
  margin-right: 144px;
}

.work__sub-title {
  margin-left: 1px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.work__descr {
  margin-left: 1px;
  margin-bottom: 49px;
  font-weight: normal;
  width: 758px;
  font-size: 16px;
  line-height: 32px;
}

.work__btn1 {
  margin-right: 28px;
  margin-left: 1px;
  padding: 20px 38px 19px 38px;
  width: 175px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  transition: background-color .3s;
}

.work__btn1:hover {
  background-color: #F7B045;
}

.work__btn1:focus {
  outline: 0;
  background-color: #F7B045;
}

.work__btn1:active {
  background-color: #E1670E;
  transform: translateY(1px);
}

.work__btn2 {
  padding: 18px 38px 17px 37px;
  width: 147px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #333333;
  transition: background-color .3s, color .3s;
}

.work__btn2:hover {
  background-color: #666666;
  color: white;
}

.work__btn2:focus {
  outline: 0;
  background-color: #666666;
  color: white;
}

.work__btn2:active {
  background-color: #000000;
  color: white;
  transform: translateY(1px);
}

.work__img {
  margin-top: 9px;
  width: 869px;
  height: 460px;
}

.work__img-320 {
  display: none;
}

.work__img-1024 {
  display: none;
}

.work__img-768 {
  display: none;
}

.questions {
  margin-bottom: 98px;
}

.questions__title {
  margin-bottom: 43px;
}

.questions__item {
  padding: 30px 0;
  border-top: 1px solid #CACACA;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: border .3s;
}

.questions__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.questions__link {
  justify-content: space-between;
  align-items: center;
  margin-left: 1px;
  width: 100%;
  transition: color .3s;
}

.questions__item:hover {
  border-top: 1px solid #FF9900;
  color: #FF9900;
}

.questions__item:hover + .questions__item,
.questions__item:focus + .questions__item {
  border-top: 1px solid #FF9900;
}

.questions__item:last-child:hover {
  border-bottom: 1px solid #FF9900;
  color: #FF9900;
}

.questions__item:hover a svg ellipse, 
.questions__item:focus a svg ellipse {
  fill: #FF9900;
  transition: fill .3s;
}

.questions__item:hover a svg path {
  fill: white;
  transition: fill .3s;
}

.questions__link:focus {
  outline: 0;
  color: #FF9900;
}

.questions__link:focus svg ellipse {
  fill: #FF9900;
  transition: fill .3s;
}

.questions__link:focus svg path {
  fill: white;
  transition: fill .3s;
}

.questions__link:active svg {
  transform: rotate(-45deg);
}

.footer {
  padding: 50px 76px 50px 52px;
  background: #222222;
}

.footer__links {
  max-width: 100%;
  margin-right: 346px;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__list {
  margin-left: 1px;
  margin-bottom: 90px;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color .3s;
}

.footer__item:hover {
  color: #FF9900;
}

.footer__item a {
  transition: outline .1s;
}

.footer__item a:focus {
  outline: 2px solid #FF9900;
}

.footer__item a:active {
  color: #E1670E;
}

.footer__svg-list {
  margin-left: 1px;
}

.footer__svg-item {
  margin-right: 25px;
}

.footer__svg-item a svg path {
  transition: fill .3s;
}

.footer__svg-item:hover a svg path{
  fill: #FF9900;
}

.footer__svg-item a:focus{
  outline: 2px solid #FF9900;
}

.footer__svg-item:active a svg path{
  fill: #E1670E;
}

.footer__text {
  margin-top: 89px;
  width: 363px;
  height: 320px;
  max-width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form {
  margin-top: 2px;
  margin-right: 236px;
  max-width: 100%;
}

.form__title {
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.input {
  display: block;
  padding: 16px 328px 14px 24px;
  margin-bottom: 25px;
  width: 570px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  color: #CACACA;
  border: 0;
  transition: background-color .3s, color .3s;
}

.input:hover {
  background: #666666;
}

.input:focus {
  outline: 0;
  background: #666666;
}

.input:active {
  background: #666666;
  color: white;
}

.input::placeholder {
  color: #CACACA;
}

.input::placeholder:active {
  color: white;
}

.textarea {
  padding: 23px 24px 104px 24px;
  margin-bottom: 28px;
  width: 570px;
  height: 150px;
  color: #CACACA;
  background: #414141;
  border: 0;
  resize: none;
}

.textarea::placeholder {
  color: #CACACA;
}

.footer__btn {
  padding: 20px 38px 19px 38px;
  margin-right: 22px;
  width: 269px;
  height: 58px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  transition: background-color .3s;
}

.footer__btn:hover {
  background: #F7B045;
}

.footer__btn:focus {
  outline: 0;
  background: #F7B045;
}

.footer__btn:active {
  background: #E1670E;
  transform: translateY(1px);
}

.custom__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom__checkbox + .label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-top: 6px;
}

.custom__checkbox + .label::before {
  content: '';
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom__checkbox:checked + .label::before {
  background-image: url(../img/check.svg);
}

.label {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__border-bottom {
  display: none;
}

.header__search-adapt {
  display: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__list {
    display: none;
  }

  .header__search-adapt {
    display: block;
  }

  .header__burger {
    display: block;
    position: relative;
    margin-top: 12px;
    width: 30px;
    height: 23px;
    margin-right: -7px;
  }

  .header__burger::after, .header__burger::before {
    content: '';
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 3px;
  }

  .header__burger span {
    position: absolute;
    background-color: #333333;
    width: 100%;
    height: 3px;
    top: 10px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger::before {
    width: 30px;
    height: 3px;
    background-color: #333333;
  }

  .footer {
    padding: 50px 50px 50px 49px;
    width: 1024px;
    height: 594px;
  }

  .footer__links {
    margin-right: 129px;
  }

  .input {
    width: 541px;
  }

  .input::placeholder {
    width: 218px;
  }

  .textarea {
    width: 541px;
  }

  .footer__btn {
    padding: 21px 37.5px 19px 37.5px;
    width: 240px;
    height: 58px;
  }

  .custom__checkbox + .label {
    margin-top: 5px;
  }

  .footer__text {
    display: none;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .header {
    padding-top: 26px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 22px;
  }

  .hero .container {
    padding-top: 160px;
    padding-left: 77px;
    width: 924px;
    height: 668px;
    background-image: url(../img/hero-1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__content {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .hero__descr {
    width: 660px;
    height: 48px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .hero {
    margin-bottom: 81px;
  }

  .about__title {
    margin-left: 35px;
    margin-bottom: 10px;
  }

  .about__descr {
    margin-left: 34px;
    margin-bottom: 54px;
    width: 925px;
    height: 263px;
    font-size: 16px;
    line-height: 32px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__article {
    margin-left: 36px;
    margin-bottom: 33px;
    width: 924px;
    height: 640px;
    max-width: 100%;
    background-image: url(../img/about-left-1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about__article-content {
    margin-top: 18px;
    width: 924px;
  }

  .about__article-descr {
    margin-left: -1px;
    margin-top: 1px;
    margin-right: 195px;
    width: 454px;
    height: 96px;
  }

  .about__content-right {
    margin-left: 36px;
  }

  .about__card {
    padding-left: 75px;
    width: 924px;
    height: 295px;
  }

  .about__card-descr {
    width: 450px;
    height: 128px;
  }

  .about {
    margin-bottom: 81px;
  }

  .work {
    margin-left: 34px;
    margin-bottom: 82px;
  }

  .work__item:nth-child(3) {
    margin-right: 85px;
  }

  .work__list {
    margin-bottom: 51px;
  }

  .work__descr {
    margin-bottom: 23px;
    width: 437px;
    height: 576px;
  }

  .work__btn1 {
    padding: 22px 38px 19px 38px;
  }

  .work__btn2 {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .work__img {
    display: none;
  }

  .work__img-1024 {
    display: block;
    margin-top: 11px;
  }

  .work__content-left {
    margin-right: 50px;
  }

  .questions__title {
    margin-left: 35px;
    margin-bottom: 30px;
  }

  .questions__list {
    margin-left: 34px;
  }

  .questions__item {
    width: 924px;
    font-size: 20px;
    line-height: 32px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions__descr-less-width {
    width: 756px;
  }

  .footer__links {
    margin-left: -16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .hero .container {
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 40px;
    width: 668px;
    height: 662px;
    background-image: url(../img/hero-768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    margin-bottom: 78px;
    width: 588px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__descr {
    margin-left: 35px;
    width: 668px;
    height: 389px;
  }

  .about__article {
    margin-left: 36px;
    margin-bottom: 32px;
    width: 668px;
    height: 650px;
    max-width: 100%;
    background-image: url(../img/about-left-768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about__article-content {
    padding: 34px 40px;
    margin-top: 28px;
    width: 668px;
  }

  .about__article-descr {
    margin-left: -1px;
    margin-top: 1px;
    margin-right: 47px;
    width: 366px;
    height: 128px;
  }

  .about__btn {
    margin-top: 34px;
    padding-left: 34px;
  }

  .about__card {
    padding: 35px 46px 35px 40px;
    width: 668px;
    height: 235px;
  }

  .about__card-title {
    margin-top: -1px;
  }

  .about__card-img {
    margin-left: -2px;
    margin-right: 16px;
    margin-top: 32px;
    width: 114px;
    height: 99px;
  }

  .about {
    margin-bottom: 82px;
  }

  .work__item:first-child {
    margin-right: 155px;
  }

  .work__item:nth-child(2) {
    margin-right: 156px;
  }

  .work__item:nth-child(3) {
    margin-right: 155px;
  }

  .work__img-1024 {
    display: none;
  }

  .work__content-left {
    margin-right: 0;
  }

  .work__img-768 {
    display: block;
    margin-top: -2px;
    margin-left: 1px;
    margin-bottom: 39px;
    height: 284px;
  }

  .work__descr {
    margin-bottom: 23px;
    width: 667px;
    height: 352px;
  }

  .questions__title {
    width: 668px;
    height: 118px;
  }

  .questions__item {
    width: 668px;
  }

  .questions__descr {
    width: 570px;
  }

  .questions__plus-768 {
    margin-bottom: 14px;
  }

  .footer {
    padding-left: 35px;
    width: 768px;
    height: 792px;
  }

  .footer__list {
    display: none;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .form__title {
    width: 408px;
    height: 59px;
  }

  .textarea {
    margin-bottom: 27px;
  }

  .form__bottom {
    width: 570px;
    margin-bottom: 50px;
  }

  .footer__btn {
    padding: 20px 37.5px 21px 37.5px;
    margin-right: 22px;
    width: 240px;
    height: 58px;
  }

  .footer__links {
    margin-left: -1px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin-top: 6px;
    width: 110px;
    height: 35px;
  }

  .header {
    padding-top: 11px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
  }

  .header__search-adapt {
    margin-top: 7px;
  }

  .hero .container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 22px;
    padding-right: 21px;
    width: 290px;
    height: 308px;
    background-image: url(../img/hero-320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__title {
    margin-bottom: 6px;
    width: 247px;
    height: 49px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 32px;
    width: 247px;
    height: 61px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .btn {
    padding: 0;
    margin-left: 42px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero {
    margin-bottom: 60px;
  }

  .section__title {
    margin-left: 0;
    font-size: 24px;
    line-height: 29px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__descr {
    margin-left: 0;
    margin-bottom: 8px;
    width: 290px;
    height: 678px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__article {
    padding: 0;
    margin-left: 0;
    margin-bottom: 8px;
    width: 290px;
    height: 200px;
    background-image: url(../img/about-left-320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about__article-content {
    display: none;
  }

  .about__article-content-320 {
    display: block;
  }

  .about__article-descr-320 {
    margin-bottom: 8px;
    width: 290px;
    height: 143px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__btn {
    padding-top: 0;
    padding-bottom: 3px;
    padding-left: 37px;
    margin-bottom: 32px;
    margin-top: 0;
    width: 162px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid #FF9900;
    color: #FF9900;
  }

  .about__content-right {
    margin-left: 0;
  }

  .about__card {
    flex-direction: column;
    padding: 0;
    width: 290px;
    border: 0;
  }

  .about__card:first-child {
    margin-bottom: 46px;
  }

  .about__card-title {
    margin-bottom: 4px;
    width: 290px;
    height: 44px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__card-descr {
    width: 290px;
    height: 140px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__card-img {
    display: none;
  }
  
  .about__card-img-320 {
    display: block;
    width: 64px;
    margin-bottom: 13px;
  }

  .about {
    margin-bottom: 102px;
  }

  .work {
    margin-left: 0;
    margin-bottom: 35px;
  }

  .work__title {
    margin-bottom: 23px;
  }

  .work__list {
    margin-left: 0;
    margin-bottom: 15px;
    width: 290px;
    height: 17px;
  }

  .work__item {
    font-size: 14px;
    line-height: 17px;
  }

  .work__item:first-child {
    margin-right: 44px;
  }

  .work__item:nth-child(2) {
    margin-right: 45px;
  }

  .work__item:nth-child(3) {
    margin-right: 45px;
  }

  .work__img-768 {
    display: none;
  }

  .work__img-320 {
    display: block;
    margin-bottom: 15px;
  }

  .work__sub-title {
    margin-bottom: 9px;
    width: 241px;
    height: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .work__descr {
    margin-bottom: 40px;
    width: 290px;
    height: 700px;
    font-size: 14px;
    line-height: 28px;
  }

  .work__btn1 {
    margin-right: 10px;
    padding: 11px 14px 14px 15px;
    width: 162px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  .work__btn2 {
    padding: 11px 29px 14px 30px;
    width: 118px;
    height: 40px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .questions__title {
    margin-bottom: 16px;
    width: 291px;
    height: 58px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions__list {
    margin-left: 0;
  }

  .questions__descr {
    width: 243px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__item {
    width: 290px;
  }

  .questions__plus {
    width: 30px;
    height: 30px;
  }

  .questions__item:nth-child(2) {
    height: 132px;
  }

  .questions__item:nth-child(3) {
    height: 134px;
  }

  .questions__item:nth-child(4) {
    height: 133px;
  }

  .questions__item:nth-child(5) {
    height: 110px;
  }

  .questions__descr2 {
    margin-bottom: 4px;
  }

  .questions__plus2 {
    margin-top: 21px;
  }

  .questions__descr3 {
    margin-bottom: 17px;
  }

  .questions__plus3 {
    margin-top: 22px;
  }

  .questions__link-relative {
    position: relative;
  }

  .questions__plus4 {
    position: absolute;
    top: 20px;
    right: 0;
  }

  .questions__plus5 {
    position: absolute;
    top: 9px;
    right: 0;
  }

  .questions {
    margin-bottom: 60px;
  }

  .footer {
    width: 320px;
    height: 673px;
  }

  .footer {
    padding: 30px 0;
  }

  .form__title {
    width: 215px;
    height: 26px;
    font-size: 24px;
    line-height: 29px;
  }

  .input {
    width: 270px;
    height: 60px;
    padding-right: 266px;
    padding-left: 20px;
    padding-bottom: 18px;
  }

  .input::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 201px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
  }

  .textarea {
    padding: 0;
    padding-top: 14px;
    padding-left: 20px;
    margin-bottom: 21px;
    width: 290px;
    height: 150px;
  }

  .textarea::placeholder {
    width: 147px;
    height: 23px;
    font-size: 14px;
    line-height: 32px;
  }

  .form__bottom {
    flex-direction: column;
    margin-left: 6px;
  }

  .footer__btn {
    margin-left: 49px;
    margin-bottom: 8px;
    padding: 0;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  .form__border-bottom {
    display: block;
    margin-top: -36px;
    margin-bottom: 16px;
    width: 290px;
    height: 1px;
    background: #595959;
  }

  .footer__logo {
    margin-left: 81px;
    width: 131px;
    height: 42px;
  }

  .footer__svg-item svg {
    width: 40px;
    height: 40px;
  }

  .footer__svg-list {
    margin-left: 70px;
  }

  .footer__svg-item {
    margin-right: 16px;
  }
}

@media (min-width: 3840px) {
  .container {
    width: 3600px;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 19px;
  }

  .header__logo {
    width: 450px;
  }

  .header__nav {
    position: relative;
  }

  .header__item {
    margin-right: 200px;
    font-size: 40px;
  }

  .header__search {
    position: absolute;
    top: 50px;
    right: 0;
  }

  .header__search svg {
    width: 50px;
    height: 50px;
  }

  .hero .container {
    padding-left: 150px;
    padding-top: 190px;
    padding-bottom: 60px;
    width: 3600px;
    height: 1200px;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__title {
    margin-bottom: 50px;
    font-size: 140px;
    line-height: 180px;
  }

  .hero__descr {
    margin-bottom: 140px;
    font-size: 45px;
    line-height: 60px;
  }

  .hero {
    margin-bottom: 200px;
  }

  .btn {
    width: 540px;
    height: 140px;
    font-size: 38px;
  }

  .section__title {
    font-size: 90px;
  }

  .about__title {
    margin-bottom: 60px;
  }

  .about__descr {
    margin-bottom: 80px;
    max-width: 2500px;
    font-size: 28px;
    line-height: 50px;
  }

  .about__content {
    justify-content: space-between;
  }

  .about__article {
    padding-top: 830px;
    width: 1700px;
    height: 1200px;
  }

  .about__article-content {
    justify-content: space-between;
    padding: 100px;
    width: 1700px;
  }

  .about__article-descr {
    width: 800px;
    font-size: 28px;
    line-height: 55px;
  }

  .about__btn {
    width: 340px;
    height: 120px;
    font-size: 28px;
  }

  .about__content-right {
    width: 1800px;
    height: 1200px;
  }

  .about__card {
    padding: 130px 116px 67px 100px;
    width: 1800px;
    height: 584px;
  }

  .about__card-img {
    margin-right: 20px;
    width: 600px;
    height: 300px;
  }

  .about__card-title {
    width: 1000px;
    font-size: 48px;
    margin-bottom: 30px;
  }

  .about__card-descr {
    width: 700px;
    font-size: 26px;
    line-height: 55px;
  }

  .work__title {
    margin-bottom: 120px;
  }

  .work__item {
    font-size: 32px;
  }

  .work__content {
    justify-content: space-between;
  }

  .work__item:first-child {
    margin-right: 160px;
  }

  .work__item:nth-child(2) {
    margin-right: 160px;
  }

  .work__item:nth-child(3) {
    margin-right: 160px;
  }

  .work__content-left {
    width: 1750px;
  }

  .work__sub-title {
    margin-bottom: 40px;
    font-size: 48px;
  }

  .work__list {
    margin-bottom: 100px;
  }

  .work__descr {
    margin-bottom: 100px;
    width: 1600px;
    font-size: 32px;
    line-height: 59px;
  }

  .work__btn1 {
    margin-right: 70px;
    width: 320px;
    height: 110px;
    font-size: 28px;
  }

  .work__btn2 {
    width: 280px;
    height: 110px;
    font-size: 28px;
  }

  .work__img {
    width: 1700px;
    height: 803px;
  }

  .questions__title {
    margin-bottom: 80px;
  }

  .questions__item {
    padding: 70px 0;
  }

  .questions__descr {
    font-size: 48px;
  }

  .questions__plus {
    width: 100px;
    height: 100px;
  }

  .work {
    margin-bottom: 200px;
  }

  .questions {
    margin-bottom: 150px;
  }

  .about {
    margin-bottom: 200px;
  }

  .footer {
    padding: 0 200px;
    padding-top: 85px;
    padding-bottom: 80px;
    height: auto;
  }

  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__logo {
    margin-bottom: 50px;
    width: 450px;
  }

  .footer__item {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .footer__svg-item {
    margin-right: 50px;
  }

  .footer__svg-item a svg {
    width: 100px;
    height: 100px;
  }

  .form__title {
    margin-bottom: 60px;
    font-size: 72px;
  }

  .footer__links {
    margin-right: 0;
  }

  .form {
    margin-right: 0;
  }

  .input {
    padding-left: 45px;
    margin-bottom: 40px;
    width: 1050px;
    height: 100px;
    font-size: 26px;
  }

  .textarea {
    padding-top: 40px;
    padding-left: 45px;
    margin-bottom: 50px;
    width: 1050px;
    height: 250px;
    font-size: 26px;
  }

  .footer__btn {
    margin-right: 40px;
    width: 450px;
    height: 100px;
    font-size: 24px;
  }

  .label {
    font-size: 28px;
  }

  .custom__checkbox + .label::before {
    margin-right: 10px;
    width: 23px;
    height: 23px;
  }

  .footer__text {
    margin-top: 140px;
    width: 500px;
    height: 300px;
    font-size: 26px;
    line-height: 40px;
  }
}